{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        <h1>Добро пожаловать!</h1>
    </div>

  <div class="form-wrapper">
    <form class="act-form act-form-fixed" method="POST" action="{% url 'login' %}" >
	    {% if form.errors %}        
		<div class="act-alert">Неверное имя или пароль</div>
    {% endif %}	 
	 <label class="required" for="id_username">Логин:</label>
	 <input type="text" name="username" id="id_username" required="" autofocus="" placeholder="Введите логин">
	 <label class="required" for="id_password">Пароль:</label>
	 <input type="password" name="password" required="" id="id_password" placeholder="Введите пароль">
	 {% csrf_token %}
	 <input type="submit" value="Войти">
	 <a href="{% url 'password_reset' %}"><span class="glyphicon glyphicon-question-sign"></span>Забыли пароль?</a>
	 <p>Если у вас нет учетной записи - создайте аккаунт <a href="{% url 'register' %}">здесь</a></p>
	</form>
  </div>

{% endblock content %}