{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
        <h1>Сменить пароль</h1>
    </div>


<div class="form-wrapper">
    <form class="act-form act-form-fixed" method="POST" action=".">
{% csrf_token %}
	 <div class="act-alert">   {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}
</div>
	 <label class="required" for="email">Email:</label>
	 <input type="email" id="email" name="{{ form.email.name }}" placeholder="Введите Email">	 
	 <input type="submit" value="Сменить пароль">
	</form>
  </div>
{% endblock %}