{% extends "base.html" %}
{% load bootstrap %}
{% load admin_urls %}
{% load static %}
{% load has_group %}

{% block sidebar %}
    {% if user.is_superuser %}
        <li class="sidebar-brand">
            <a href="/admin/"><span class="glyphicon glyphicon-cog"></span> Панель управления</a>
        </li>
    {% endif %}
    {% if request.user|has_group:'Руководитель производства' %}
        <li class="sidebar-brand">
            <a href="http://192.168.3.14"><span class="glyphicon glyphicon-user"></span> Личный кабинет</a>
        </li>
    {% endif %}
{% endblock sidebar %}

{% block content %}

    {% for complex in complexes %}
        <div class="main-menu-block">
            <div class="inner-main-menu-block"><a href="/machines/complexes/equipment_complex/{{ complex.id }}"><img
                    src="static/img/pzmonitor.png" alt="Мониторинг оборудования"/><span>{{ complex }}</span></a></div>
        </div>
    {% endfor %}

{% endblock content %}

