{% extends "base.html" %}
{% load bootstrap %}
{% load admin_urls %}
{% load static %}
{% load has_group %}

{% block sidebar %}
    {% if user.is_superuser %}
        <li class="sidebar-brand">
            <a href="/admin/"><span class="glyphicon glyphicon-cog"></span> Панель управления</a>
        </li>
    {% endif %}
    {% if request.user|has_group:'Руководитель производства' %}
        <li class="sidebar-brand">
            <a href="http://192.168.3.14"><span class="glyphicon glyphicon-user"></span>Личный кабинет</a>
        </li>
    {% endif %}
{% endblock sidebar %}

{% block content %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{% static 'js/equipment_list.js' %}"></script>
    <div class="page-header">
        <h1>Мониторинг оборудования</h1>
    </div>

    <div class="form-wrapper">
        <form class="act-form" method="GET" action=".">
            <div class="form-row">
                <label class="required" for="workshop">Цех:</label>
                <select id="id_workshop" name="workshop">
                    <option value="" selected="">Выбрать цех</option>
                    {% for x in workshops %}
                        <option value="{{ x.pk }}">цех {{ x.pk }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-row">
                <label class="required" for="workshop">Участок:</label>
                <select id="id_area" name="area">
                    <option value="" selected="">Выбрать участок</option>
                    {% for x in areas %}
                        <option value="{{ x.pk }}">{{ x }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-row">
                <input type="hidden" id="type_w" name="machine_or_furnace_sign" placeholder="станки или прочее"
                       value="">
                <input id="sendform" type="submit" value="Найти">
            </div>
        </form>
    </div>

    <div id='pagecontent'>
        <table class="table text-left" width="100%">
            <thead style=" text-align: center">
            <tr>
                <th scope="col" style="width:5%">Цех</th>
                <th scope="col" style="width:10%">Участок</th>
                <th scope="col" style="width:30%" colspan="2">
                    <div style="text-align: center">
                        <select id="type_workshop" name="typefilter">
                            <option value="" selected="">Всё оборудование</option>
                            <option value="true">Только Станки</option>
                            <option value="false">Прочее оборудование</option>
                        </select>

                    </div>
                </th>
                <th scope="col" style="width:65%">Данные мониторинга</th>
            </tr>
            </thead>
            {% for equip in filter.qs %}
                <tr>
                    <td aria-label="Цех"><a class="moreinfa"
                                            href="{{ appname }}/machines/?workshop={{ equip.workshop }}">{{ equip.workshop }}</a>
                    </td>
                    <td aria-label="Цех"><a class="moreinfa"
                                            href="{{ appname }}/machines/{% if equip.area is None %}?workshop={{ equip.workshop }}"
                                                >{{ equip.workshop.name }}{% else %}?area={{ equip.area.id }}">
                                                {{ equip.area }}{% endif %}</a></td>
                    <td aria-label="Оборудование"><a class="moreinfa"
                                                     href="{{ appname }}works/{{ equip.id }}/">{{ equip.model }}
                        ({{ equip.code }})</a></td>
                    <td aria-label="Фото оборудования">
                        <a href="{{ appname }}works/{{ equip.id }}/">
                            {% if equip.image %}
                                <img src="{{ equip.image.url }}" height="75px">
                            {% else %}
                                <img src="{% static 'img/noimg.png' %}" width="100px">
                            {% endif %}
                        </a>
                    </td>
                    <td aria-label="Данные мониторинга">
                        <div class="equip-graph equip-loading" id="graph-{{ equip.id }}"
                             style="width: 100%; height: 100px;">
                        </div>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>
    <script type="text/javascript">
        document.title = 'Пролетарский завод - Мониторинг оборудования';
        graphicsData = {{ graph_data|safe }}
            console.log('_________________');
        console.log(graphicsData);
        console.log('_________________');
        $(window).resize(function () {
            drawChart();
        });
    </script>
{% endblock content %}