{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
        <h1>Портал ПАО "Пролетарский завод"</h1>
    </div>
    <div class="main-menu-wrapper">
        <div class="main-menu-block">
            <div class="inner-main-menu-block"><a href="/machines"><img src="/static/img/pzapanel.png"
                                                                        alt="Мониторинг оборудования"/><span>Оборудование</span></a>
            </div>
        </div>
        <div class="main-menu-block">
            <div class="inner-main-menu-block"><a href="/machines/statistics/"><img src="/static/img/pzstatistic.png"
                                                                                    alt="Статистика простоев"/><span>Статистика</span></a>
            </div>
        </div>
        <div class="main-menu-block">
            <div class="inner-main-menu-block"><a href="/machines/ci"><img src="/static/img/pzci.png"
                                                                           alt="Все простои"/><span>Все простои</span></a>
            </div>
        </div>
    </div>

{% endblock content %}