<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body><br>
<br>
<center><h1>OKUMA</h1></center>
<center><h3>Коэффициент готовности(А)</h3> {{ okuma_A }} %</center>
<center><h3>Коэффициент производительности(Р)</h3>{{ okuma_P }} %</center>
<center><h3>Коэффициент качества(Q)</h3> {{ okuma_Q }} %</center>
<center><h2>Коэффициент OEE {{ okuma_OEE }} %</h2></center>

<center><h1>FERRARI</h1></center>
<center><h3>Коэффициент готовности(А)</h3> {{ ferrari_A }} %</center>
<center><h3>Коэффициент производительности(Р)</h3> {{ ferrari_P }} %</center>
<center><h3>Коэффициент качества(Q)</h3> {{ ferrari_Q }} %</center>
<center><h2>Коэффициент OEE {{ ferrari_OEE }} %</h2></center>

</body>
</html>