{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
        <h1>Статистика</h1>
    </div>
<div class="main-menu-wrapper">
<div class="main-menu-block"><div class="inner-main-menu-block"><a href="/machines/work_statistics"><img src="/static/img/ews.jpg" alt="Оборудование"/><span>Статистика работы</span></a></div></div>
 <div class="main-menu-block"><div class="inner-main-menu-block"><a href="/machines/stats"><img src="/static/img/eps.jpg" alt="Статистика"/><span>Статистика простоев</span></a></div></div> 

</div>

{% endblock content %}