{% extends 'base.html' %}
{% load googlecharts %}
{% load static %}
{% load has_group %}

{% block navbar %}
    <li class="sidebar-brand">
        <a href="/machines"><span class="glyphicon glyphicon-chevron-left"></span> Назад</a>
    </li>
{% endblock navbar %}

{% block sidebar %}
    {% if user.is_superuser %}
        <li class="sidebar-brand">
            <a href="/admin/"><span class="glyphicon glyphicon-cog"></span> Панель управления</a>
        </li>
    {% endif %}
    {% if request.user|has_group:'Руководитель производства' %}
        <li class="sidebar-brand">
            <a href="http://192.168.3.14"><span class="glyphicon glyphicon-user"></span> Личный кабинет</a>
        </li>
    {% endif %}
{% endblock sidebar %}

{% block content %}
    <img class="worksimg" src="/media/{{ object.image }}" alt="123"/>

    {% if object.repair_job_status == 1 %}
        <div class="stat1"
             style="display: table; margin: 10px auto; padding: 5px 10px; border-radius: 4px; color: white; font-weight: bold;">
            Неисправен
        </div> {% endif %}
    {% if object.repair_job_status == 2 %}
        <div class="stat2"
             style="display: table; margin: 10px auto; padding: 5px 10px; border-radius: 4px; color: white; font-weight: bold;">
            В ремонте
        </div> {% endif %}

    <div id="forprint">
        <div class="page-header">
            <h1>{{ object }}</h1>
        </div>



        {% if object.machine_or_furnace_sign %}


            {% if user_can_update %}
                <form action="." method="post" onchange="function(){this.setAttribute(" method", "GET");}" >
            {% else %}
                <form action="" method="get">
            {% endif %}


            {% csrf_token %}
            <div class="hidden">{{ form.model }}</div>
            <div class="page-header calen text-left">

                <table width="100%">
                    <tr>
                        <th class="calend row" style="position:relative;">
                            <div class="form-group">
                                {{ form.date }}
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary text-right" id="btn_save_and_go"
                                        {% if user_can_update %}
                                       value="Сохранить"
                                        {% else %}
                                       value="Перейти"
                                        {% endif %}>
                            </div>
                        </th>
                    </tr>
                </table>
            </div>

            <h3 style="padding-bottom:20px;">График работы</h3>
            <div id="my-graph" style="text-align: center;"></div>
        {% endif %}

        <script>

            const convertTime12to24 = (time12h) => {
                const [time, modifier] = time12h.split(' ');

                let [hours, minutes] = time.split(':');

                if (hours === '12') {
                    hours = '00';
                }

                if (modifier === 'PM') {
                    hours = parseInt(hours, 10) + 12;
                }

                return `${hours}:${minutes}`;
            }

            function normdate(x) {
                x = x.replace("midnight.", "p.m.");
                x = x.replace("a.m.", "AM");
                x = x.replace("p.m.", "PM");
                return new Date(x);

            }
            {% data rawdata "track" %}
                {% col "string" "time" %} normdate(' {{ val }} ') {% endcol %}
                {% col "number" "value" %}{{ val }}{% endcol %}
            {% enddata %}
        </script>


        {% googlecharts %}
            {% data rawdata "track" %}
                {% col "string" "time" %}"{{ val }}"{% endcol %}
                {% col "number" "value" %}{{ val }}{% endcol %}
            {% enddata %}

            {% options "myoptions" %}
                kind: "LineChart",
                options: {
                backgroundColor: "#f9f9f9",
                colors: ["#FF0000", "#00FF00", "#0000FF"],
                title: "График",
                chartArea: {left: 40, top: 20, width: '90%', height: '100%'},
                explorer: {
                axis: 'horizontal',
                keepInBounds: true,
                maxZoomIn: 9.0,
                maxZoomOut: 1
                },
                width: '100%',
                {% if not object.machine_or_furnace_sign %}
                    height: '450'
                {% else %}
                    height:'30%'
                {% endif %}
                }
            {% endoptions %}
            {% graph "my-graph" "track" "myoptions" %}
        {% endgooglecharts %}

        {% if not object.machine_or_furnace_sign %}

            <div id="chart_div" style="width: 500px; height: 300px;"></div>
            </div>
            <button style="
   padding: 7.5px 12.5px;
    background-color:#e86b00;
    display: inline-block;
    margin: 15px 0;
    border: 1px solid #5a5a5a;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;color:#FFF;
" class="w3-button w3-white w3-round-small w3-right" id="PRINT_BTN">
                Печать 🖶
            </button>

        {% else %}

            {% if new_algoritm is not True %}
                <div class="table-responsive">
                    <table class="table">
                        {{ intervals.management_form }}
                        <thead>
                        <tr>
                            <th>Начало</th>
                            <th>Длительность</th>
                            <th>Классификация</th>
                            <th>Укажите причину</th>
                        </tr>
                        </thead>

                        {% for interval in intervals.forms %}
                            <tr class="formset_row">
                                <td>
                                    {% for hidden in interval.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    {{ interval.instance.start|date:"d.m.y H:i" }}
                                </td>
                                <td>{{ interval.instance.length_fmt }}</td>
                                <td>
                                    {% if interval.instance.automated_classification.is_working %}
                                        <span class="glyphicon glyphicon-ok-sign text-success"> Работа</span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove-sign text-danger"> Простой</span>
                                    {% endif %}
                                </td>
                                <td class="ciselect">
                                    {% if user_can_update %}
                                        {{ interval.user_classification }}
                                    {% else %}
                                        {% if not interval.instance.automated_classification.is_working and interval.instance.user_classification %}
                                            {{ interval.instance.user_classification }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tr>
                    </table>
                </div>
                </div>
            {% endif %}
            {{ intervals.management_form }}
            </form>

        {% endif %}


    </div>


    <style>
        .True_status {
            background: #13da64;
        }

        .False_status {
            background: #ff2b2b;
            cursor: pointer;
        }

        .tf-item {
            position: relative;
            display: inline-block;
            height: 60px;
            border-right: 1px solid #5a5a5a;
            border-top: 1px solid #5a5a5a;
            border-bottom: 1px solid #5a5a5a;
            vertical-align: top;
        }

        .new-wrapper {
            display: table;
            width: 100%;
            text-align: left;
            border-left: 1px solid #8e8e8e;
            margin-bottom: 20px;
            left: 40px;
            position: relative;
            padding-right: 175px;
        }

        .inner-new-wrapper {
            display: table;
            width: 100%;
            text-align: left;
            border-left: 1px solid #5a5a5a;
            margin-bottom: 20px;
            top: -80px;
            position: relative;
        }

        .trinity, .trinity2 {
            width: 12.5%;
        }

        .trinity:first-child:before {
            position: absolute;
            left: 0;
            bottom: -17.5px;
            content: attr(data-starting);
            width: 50%;
            height: 15px;
            text-align: left;
        }

        .trinity:last-child:after {
            right: 0;
        }

        .trinity:after {
            position: absolute;
            right: -15px;
            bottom: -17.5px;
            content: attr(data-ending);
            width: 50%;
            height: 15px;
            text-align: right;
        }

        .hour, .hour2 {
            width: 4.16%;
        }

        .hour:first-child:before {
            position: absolute;
            left: 0;
            bottom: -17.5px;
            content: attr(data-starting);
            width: 50%;
            height: 15px;
            text-align: left;
        }

        .hour:last-child:after {
            right: 0;
        }

        .hour:after {
            position: absolute;
            right: -15px;
            bottom: -17.5px;
            content: attr(data-ending);
            width: 50%;
            height: 15px;
            text-align: right;
        }

        .minute {
            width: 1.38888%;
        }

        .main-new-wrapper {
            position: relative;
            margin-top: 20px;
            padding: 0 15px 0 0;
        }

        .default_status {
            background: #c7c7c7;
        }
    </style>
    {% if new_algoritm %}

        <!--<div class="new-wrapper">
    {% for x in trinity_interval %}    
    <div class="tf-item trinity2 {{ x.work_check }}_status" data-status="{{ x.work_check }}" data-starting="
            {{ x.starting | date:"H:i" }}" data-ending="{{ x.ending | date:"H:i" }}" ></div>
    {% endfor%}
</div>-->

        <div class="main-new-wrapper">
            <h3 style="padding-bottom:20px;">Диаграмма работы и простоев</h3>

            <div class="new-wrapper">
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="00:00"
                     data-ending="01:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="01:00"
                     data-ending="02:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="02:00"
                     data-ending="03:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="03:00"
                     data-ending="04:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="04:00"
                     data-ending="05:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="05:00"
                     data-ending="06:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="06:00"
                     data-ending="07:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="07:00"
                     data-ending="08:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="08:00"
                     data-ending="09:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="09:00"
                     data-ending="10:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="10:00"
                     data-ending="11:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="11:00"
                     data-ending="12:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="12:00"
                     data-ending="13:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="13:00"
                     data-ending="14:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="14:00"
                     data-ending="15:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="15:00"
                     data-ending="16:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="16:00"
                     data-ending="17:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="17:00"
                     data-ending="18:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="18:00"
                     data-ending="19:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="19:00"
                     data-ending="20:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="20:00"
                     data-ending="21:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="21:00"
                     data-ending="22:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="22:00"
                     data-ending="23:00"></div>
                <div class="tf-item hour default_status" data-oid="0" data-reason='0' data-starting="23:00"
                     data-ending="00:00"></div>
            </div>


            <div class="new-wrapper">
                <div class="tf-item minute default_status" data-starting="00:00" data-ending="00:20"></div>
                <div class="tf-item minute default_status" data-starting="00:20" data-ending="00:40"></div>
                <div class="tf-item minute default_status" data-starting="00:40" data-ending="01:00"></div>
                <div class="tf-item minute default_status" data-starting="01:00" data-ending="01:20"></div>
                <div class="tf-item minute default_status" data-starting="01:20" data-ending="01:40"></div>
                <div class="tf-item minute default_status" data-starting="01:40" data-ending="02:00"></div>
                <div class="tf-item minute default_status" data-starting="02:00" data-ending="02:20"></div>
                <div class="tf-item minute default_status" data-starting="02:20" data-ending="02:40"></div>
                <div class="tf-item minute default_status" data-starting="02:40" data-ending="03:00"></div>
                <div class="tf-item minute default_status" data-starting="03:00" data-ending="03:20"></div>
                <div class="tf-item minute default_status" data-starting="03:20" data-ending="03:40"></div>
                <div class="tf-item minute default_status" data-starting="03:40" data-ending="04:00"></div>
                <div class="tf-item minute default_status" data-starting="04:00" data-ending="04:20"></div>
                <div class="tf-item minute default_status" data-starting="04:20" data-ending="04:40"></div>
                <div class="tf-item minute default_status" data-starting="04:40" data-ending="05:00"></div>
                <div class="tf-item minute default_status" data-starting="05:00" data-ending="05:20"></div>
                <div class="tf-item minute default_status" data-starting="05:20" data-ending="05:40"></div>
                <div class="tf-item minute default_status" data-starting="05:40" data-ending="06:00"></div>
                <div class="tf-item minute default_status" data-starting="06:00" data-ending="06:20"></div>
                <div class="tf-item minute default_status" data-starting="06:20" data-ending="06:40"></div>
                <div class="tf-item minute default_status" data-starting="06:40" data-ending="07:00"></div>
                <div class="tf-item minute default_status" data-starting="07:00" data-ending="07:20"></div>
                <div class="tf-item minute default_status" data-starting="07:20" data-ending="07:40"></div>
                <div class="tf-item minute default_status" data-starting="07:40" data-ending="08:00"></div>
                <div class="tf-item minute default_status" data-starting="08:00" data-ending="08:20"></div>
                <div class="tf-item minute default_status" data-starting="08:20" data-ending="08:40"></div>
                <div class="tf-item minute default_status" data-starting="08:40" data-ending="09:00"></div>
                <div class="tf-item minute default_status" data-starting="09:00" data-ending="09:20"></div>
                <div class="tf-item minute default_status" data-starting="09:20" data-ending="09:40"></div>
                <div class="tf-item minute default_status" data-starting="09:40" data-ending="10:00"></div>
                <div class="tf-item minute default_status" data-starting="10:00" data-ending="10:20"></div>
                <div class="tf-item minute default_status" data-starting="10:20" data-ending="10:40"></div>
                <div class="tf-item minute default_status" data-starting="10:40" data-ending="11:00"></div>
                <div class="tf-item minute default_status" data-starting="11:00" data-ending="11:20"></div>
                <div class="tf-item minute default_status" data-starting="11:20" data-ending="11:40"></div>
                <div class="tf-item minute default_status" data-starting="11:40" data-ending="12:00"></div>
                <div class="tf-item minute default_status" data-starting="12:00" data-ending="12:20"></div>
                <div class="tf-item minute default_status" data-starting="12:20" data-ending="12:40"></div>
                <div class="tf-item minute default_status" data-starting="12:40" data-ending="13:00"></div>
                <div class="tf-item minute default_status" data-starting="13:00" data-ending="13:20"></div>
                <div class="tf-item minute default_status" data-starting="13:20" data-ending="13:40"></div>
                <div class="tf-item minute default_status" data-starting="13:40" data-ending="14:00"></div>
                <div class="tf-item minute default_status" data-starting="14:00" data-ending="14:20"></div>
                <div class="tf-item minute default_status" data-starting="14:20" data-ending="14:40"></div>
                <div class="tf-item minute default_status" data-starting="14:40" data-ending="15:00"></div>
                <div class="tf-item minute default_status" data-starting="15:00" data-ending="15:20"></div>
                <div class="tf-item minute default_status" data-starting="15:20" data-ending="15:40"></div>
                <div class="tf-item minute default_status" data-starting="15:40" data-ending="16:00"></div>
                <div class="tf-item minute default_status" data-starting="16:00" data-ending="16:20"></div>
                <div class="tf-item minute default_status" data-starting="16:20" data-ending="16:40"></div>
                <div class="tf-item minute default_status" data-starting="16:40" data-ending="17:00"></div>
                <div class="tf-item minute default_status" data-starting="17:00" data-ending="17:20"></div>
                <div class="tf-item minute default_status" data-starting="17:20" data-ending="17:40"></div>
                <div class="tf-item minute default_status" data-starting="17:40" data-ending="18:00"></div>
                <div class="tf-item minute default_status" data-starting="18:00" data-ending="18:20"></div>
                <div class="tf-item minute default_status" data-starting="18:20" data-ending="18:40"></div>
                <div class="tf-item minute default_status" data-starting="18:40" data-ending="19:00"></div>
                <div class="tf-item minute default_status" data-starting="19:00" data-ending="19:20"></div>
                <div class="tf-item minute default_status" data-starting="19:20" data-ending="19:40"></div>
                <div class="tf-item minute default_status" data-starting="19:40" data-ending="20:00"></div>
                <div class="tf-item minute default_status" data-starting="20:00" data-ending="20:20"></div>
                <div class="tf-item minute default_status" data-starting="20:20" data-ending="20:40"></div>
                <div class="tf-item minute default_status" data-starting="20:40" data-ending="21:00"></div>
                <div class="tf-item minute default_status" data-starting="21:00" data-ending="21:20"></div>
                <div class="tf-item minute default_status" data-starting="21:20" data-ending="21:40"></div>
                <div class="tf-item minute default_status" data-starting="21:40" data-ending="22:00"></div>
                <div class="tf-item minute default_status" data-starting="22:00" data-ending="22:20"></div>
                <div class="tf-item minute default_status" data-starting="22:20" data-ending="22:40"></div>
                <div class="tf-item minute default_status" data-starting="22:40" data-ending="23:00"></div>
                <div class="tf-item minute default_status" data-starting="23:00" data-ending="23:20"></div>
                <div class="tf-item minute default_status" data-starting="23:20" data-ending="23:40"></div>
                <div class="tf-item minute default_status" data-starting="23:40" data-ending="00:00"></div>
            </div>

        </div>

    {% endif %}


    {% if user.is_authenticated %}
        <div class="modal" style="display:none">
            <div class="modalblock fix-w">
                <div class="modalblock-header">
                    <div class="modal-title">Выбор причины</div>
                    <div class="mclose"></div>
                </div>
                <div class="modalblock-content row">

                    <div id="add-master_reason" style="display: block;">
                        <p><span>Выбрать причину простоя</span></p>
                        <select id="reason_list" name="reason_list">
                            <option default value="0">Выбрать причину</option>
                            {% for x in reason_list %}
                                <option value="{{ x.id }}">{{ x }}</option>
                            {% endfor %}
                        </select>

                    </div>


                    <div class="row">
                        <button id="addcom" type="submit" class="save btn btn-default">Указать</button>
                    </div>

                    <form id="set_status_form" method="POST" class="post-form">
                        {% csrf_token %}
                        <input type="hidden" name="hour_id" id="hour_id" value="0"/>
                        {{ intervals.management_form }}
                    </form>

                </div>
            </div>
        </div>
    {% endif %}

    <style type="text/css">.tf-item {
        text-align: center;
    }</style>
    <script type="text/javascript">
        $(document).ready(function () {

            setTimeout(function () {
                var graph_weight = $("div[dir=ltr]").width();
                $('.main-new-wrapper').css('max-width', graph_weight + 'px');
            }, 1500);

            var modal = $('.modal');
            $(document).on('click', '.mclose', function () {
                getting_info = false;
                getting_all_info = false;

                $('#change-modal').text('Указать причину поломки');
                $('#text-status').css('display', 'block');
                crushreason = false;
                modal.css('display', 'none');

            });
            $(document).keyup(function (e) {
                if (e.key === "Escape") { // escape key maps to keycode `27`
                    $('.mclose').click();
                }
            });

            $(document).on('click', '.hour.False_status', function () {
                modal.css('display', 'block');
                $('#reason_list').val(parseInt($(this).attr('data-reason_id')));
                $('#hour_id').val(parseInt($(this).data('oid')));
            });

            {% if user.is_authenticated %}
                $(document).on('click', '#addcom', function (e) {
                    e.preventDefault();
                    console.log('click');
                    var form = document.getElementById("set_status_form"),
                        fd = new FormData(form), aurl = "",
                        reason = $('#reason_list').val(), hour_id = $('#hour_id').val();
                    if (reason != "") {
                        fd.append('reason_id', reason);
                    }

                    $.ajax({
                        url: aurl,
                        data: fd,
                        cache: false,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        success: function () {
                            var returntext = 'Данные не были указаны!';
                        }

                    }).done(function () {
                        $('.hour[data-oid="' + hour_id + '"]').attr('data-reason_id', $('#reason_list').val());
                        $('.infomessage').text('Причина успешно указана');
                        $('.infomessage').removeClass('red');
                        $('.infobox').fadeIn();
                        $('#info-box').css('display', 'table');
                        setTimeout(function () {
                            $('#info-box').fadeOut(400);
                            document.location.reload();
                        }, 2000);
                    });
                    $(".mclose").click();
                    return false;
                });

            {% endif %}
            var starting = 0;
            {% if new_algoritm %}
                {% for x in trinity_interval %}
                    starting = String("{{ x.starting | date:"H:i" }}");
                    "]').removeClass('default_status').addClass('True_status');
                    var trinity_obj = $('.trinity[data-starting="' + starting + '"]');
                    trinity_obj.removeClass('default_status').addClass('{{ x.work_check}}_status');
                    var trinity_id = {{ x.id }}, trinity_reason = '{{ x.user_reason }}',
                        trinity_reason_id = '{{ x.user_reason.id }}';
                    trinity_obj.attr("data-oid", trinity_id);
                    trinity_obj.attr("data-reason", trinity_reason);
                    trinity_obj.attr("data-reason_id", trinity_reason_id);
                    "]').removeClass('default_status').addClass('True_status');
                {% endfor %}

                {% for x in hour_interval %}
                    starting = String("{{ x.starting | date:"H:i" }}");
                    "]').removeClass('default_status').addClass('True_status');
                    $('.hour[data-starting="' + starting + '"]').removeClass('default_status').addClass('{{ x.work_check}}_status');

                    var hour_obj = $('.hour[data-starting="' + starting + '"]');
                    hour_obj.removeClass('default_status').addClass('{{ x.work_check}}_status');
                    //trinity_obj.text({{ x.id }});
                    var hour_id = {{ x.id }}, hour_reason = '{{ x.user_reason }}',
                        hour_reason_id = '{{ x.user_reason.id }}';
                    hour_obj.attr("data-oid", hour_id);
                    hour_obj.attr("data-reason", hour_reason);
                    hour_obj.attr("data-reason_id", hour_reason_id);
                    {% if x.user_reason %}
                        hour_obj.html('<span style="font-weight:bold;font-size:45px;">✓</span>');
                    {% endif %}
                    //$('.trinity[data-starting="{{ x.starting | date:"H:i" }}
                    "]').removeClass('default_status').addClass('True_status');
                {% endfor %}

                {% for x in minute_interval %}
                    starting = String("{{ x.starting | date:"H:i" }}");
                    "]').removeClass('default_status').addClass('True_status');
                    $('.minute[data-starting="' + starting + '"]').removeClass('default_status').addClass('{{ x.work_check}}_status');
                    //$('.trinity[data-starting="{{ x.starting | date:"H:i" }}
                    "]').removeClass('default_status').addClass('True_status');
                {% endfor %}
            {% endif %}

        });

    </script>

    <div id="test_charts"></div>
    <div id="test_charts2"></div>
    <script type="text/javascript" src="{% static 'js/print.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/work_detail.js' %}"></script>
{% endblock content %}

