{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
        <h1>Портал ПАО "Пролетарский завод"</h1>
    </div>
<div class="main-menu-wrapper">
<div class="main-menu-block"><div class="inner-main-menu-block"><a href="/machines/main"><img src="static/img/pzmonitor.png" alt="Мониторинг оборудования"/><span>Мониторинг оборудования</span></a></div></div>
<div class="main-menu-block"><div class="inner-main-menu-block"><a href="/machines/main_repairer"><img src="static/img/repair.png" alt="123"/><span>Учёт ремонта</span></a></div></div>

{% if user.is_superuser %}
<div class="main-menu-block"><div class="inner-main-menu-block"><a href="/admin/"><img src="static/img/pzapanel.png" alt="123"/><span>Панель управления</span></a></div></div>
{% endif %}
</div>

{% endblock content %}